{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Linked Banks</h2>
    {{if .Banks}}
     <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {{range .Banks}}
        <tr>
            <td>#{{.ID}}</td>
            <td>{{.Name}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>Add a bank</p>
	{{end}}
{{end}}}
