{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>DailyCents - {{template "title" .}}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700"
        />
    </head>
    <body>
        <header>
            <h1><a href="/">DailyCents</a></h1>
        </header>
        <main>{{template "main" .}}</main>
        <footer>
            <p>VStudios</p>
        </footer>
    </body>
</html>
{{end}}
